section{
    background-color: rgb(37, 37, 37);
}
footer,nav{
    background: rgb(94, 94, 94);
    /* background: linear-gradient(90deg, rgb(136, 233, 201) 45%, rgb(27, 204, 204) 100%); */
    height: auto;
}
ul,li,li a,ul ull{
    color: black;
}
